.payment {
  background-color: white;
}

.payment__container {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

.payment__container > h2 {
  margin-bottom: 10px;
}
.payment__section {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  padding: 20px;
}

.payment__title {
  flex: 0.2;
}

.payment__adreess,
.payment__items,
.payment__details {
  flex: 0.8;
}

.stripe__button {
  background: #f0c14b;
  border: 1px solid;
  border-radius: 3px;
  margin-top: 10px;
  color: #111;
  cursor: pointer;
  border-color: #a88734 #9c7e31 #846a29;
  width: 30%;
}

.payment__details > form > div > h3 {
  font-size: 16px;
  margin-top: 6px;
}
